export(LDAKPC)
export(LFDA)
export(LFDAKPC)
export(kmatrixGauss)
export(KLFDA)
export(KLFDA_mk)
export(klfda_1)
export(Mabayes)
export(predict)
export(predict.LDAKPC)
export(predict.LFDA)
export(predict.LFDAKPC)
export(predict.KLFDA_mk)
export(predict.klfda_1)
S3method(predict,LDAKPC)
S3method(predict,LFDA)
S3method(predict,LFDAKPC)
S3method(predict,KLFDA_mk)
S3method(predict,klfda_1)
importFrom("kernlab", "kernelMatrix","kpca","obj")
importFrom("rARPACK","eigs")
importFrom("lfda", "getMetricOfType","repmat","getAffinityMatrix")
importFrom("MASS", "lda","ginv")
importFrom("klaR","NaiveBayes")
import("plotly")
importFrom("grDevices", "rainbow")
importFrom("stats", "cov", "predict", "setNames", "var")
importFrom("utils", "data")
import("adegenet")
importFrom("stats", "density", "dnorm",".checkMFClasses", "delete.response",
                "model.frame", "model.matrix", "na.pass")