export(LDAKPC)
export(predict.LDAKPC)
export(LFDA)
export(predict.LFDA)
export(LFDAKPC)
export(predict.LFDAKPC)
export(kmatrixGauss)
export(KLFDA)
export(KLFDA_mk)
export(predict.KLFDA_mk)
export(klfda_1)
export(predict.klfda_1)
export(Mabayes)
export(KL_divergence)
importFrom("kernlab", "kernelMatrix","kpca","obj")
importFrom("rARPACK","eigs")
importFrom("lfda", "getMetricOfType","repmat","getAffinityMatrix")
importFrom("MASS", "lda","ginv")
importFrom("klaR","NaiveBayes")
import("plotly")
importFrom("grDevices", "rainbow")
importFrom("stats", "cov", "predict", "setNames", "var")
importFrom("utils", "data")
import("adegenet")
